* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #fff;
  width: 100%;
  height: 100%;
}
.Header-content {
  max-width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 28px 0px 28px;
}

header {
  block-size: auto;
  width: 100%;
  height: auto;
}
.Header-content h1 {
}

.Header-content img {
  max-width: 120px;
  height: auto;
  flex-shrink: 0;
}

.TryItFree {
  cursor: pointer;
  padding: 2px 12px;
  cursor: pointer;
  max-width: 120px;
  height: auto;
  flex-shrink: 0;
  border-radius: 12px;
  border: 0.588px solid #ff52c1;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
}

.TryItFree h2 {
  margin: 0;
  padding: 4px 5px 5px 4px;
  text-align: center;
  color: #ff52c1;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 400;
}
.content-info {
  margin-left: 7px;
  margin-right: 7px;
  max-width: 100%;
  height: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-info h1 {
  width: 280px;
  color: #00252e;
  text-align: center;
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 150% */
  padding: 8px 8px 20px 8px;
}
.content-info p {
  width: 296px;
  color: #00252e !important ;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding: 0px 0px 48px 0px;
}
.GetStarted {
  cursor: pointer;
  fill: #ff52c1;
  filter: drop-shadow(0px 3px 7px rgba(0, 37, 46, 0.22));
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 80px;
  border: 0.588px solid #ff52c1;
  background-color: #ff8ed7;
}
.GetStarted h2 {
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px; /* 150% */
}
.Dashboard {
  padding: px 0px 0px 0px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.Dashboard img {
  justify-content: center;
  width: 260px;
  height: 185px;
  flex-shrink: 0;
  display: block;
  margin: auto;
}
