html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #fff;
  width: 100%;
  height: 100%;
}
.Header-content {
  max-width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 28px 0px 28px;
}

header {
  block-size: auto;
  width: 100%;
  height: auto;
}
.Header-content img {
  max-width: 120px;
  height: auto;
  flex-shrink: 0;
}

#TryItFree {
  cursor: pointer;
  padding: 2px 12px;
  max-width: 120px;
  height: auto;
  border-radius: 12px;
  border: 0.588px solid #ff52c1;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
  color: #ff52c1;
  font-family: "Open Sans";
  font-size: 9.412px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-info {
  margin-left: 7px;
  margin-right: 7px;
  max-width: 100%;
  height: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-info h1 {
  width: 280px;
  color: #00252e;
  text-align: center;
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 150% */
  padding: 8px 8px 20px 8px;
}
.content-info p {
  width: 296px;
  color: #00252e !important ;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding: 0px 0px 48px 0px;
}
#GetStarted {
  cursor: pointer;
  fill: #ff52c1;
  filter: drop-shadow(0px 3px 7px rgba(0, 37, 46, 0.22));
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 80px;
  border: 0.588px solid #ff52c1;
  background-color: #ff8ed7;
}

.Dashboard img {
  justify-content: center;
  width: 260px;
  height: 185px;
  flex-shrink: 0;
  display: block;
  margin: auto;
}
.Info {
  padding: 146px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Info img {
  width: 35.556px;
  height: 35.656px;
  margin-right: 124px;
}

.Info h2 {
  width: 160px;
  color: #00252e;
  font-family: "Open Sans";
  font-size: 60.952px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 150% */
}
.Info span {
  color: #808e9a;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15.238px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.857px; /* 150% */
}

.Growth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Growth img {
  width: 258.611px;
  height: 211.556px;
}
.Growth h2 {
  padding: 74px 0px 16px 0px;
  color: #00252e;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}

.Growth p {
  width: 320px;
  color: #00252e;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.Flow {
  padding: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Flow img {
  width: 265.5px;
  height: 189px;
}
.Flow h2 {
  padding: 80px 0px 30px 0px;
  color: #00252e;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}

.Flow p {
  width: 320px;
  color: #00252e;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
